.article {
    max-width: 357px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-family: "Source Sans 3", sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #122f97;
    }

    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        color:#122f97;
        text-align: center;
    }

    button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #205691;
        color: white;
        font-family: "Source Sans 3", sans-serif;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
    }
}

.article img {
    max-width: 100%;
    min-width: 0;
}

@media (max-width: 768px) {
    .article {
        h2 {
            font-size: 25px;
        }

        button {
            width: 150px;
            font-size: 20px;
        }
    }
}

